<%-include('./includes/header')%>
<div
  class="table-responsive text-primary"
  style="filter: blur(0px) brightness(100%)"
>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-info">id</th>
        <th class="text-info">item_id</th>
        <th class="text-info">user_id</th>
        <th class="text-info">price</th>
        <th class="text-primary">date_of_purchase</th>
        <th class="text-success">type_of_transaction</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="card shadow">
  <div class="card-body">
      <h2 class="text-center text-primary mb-4">Revenue for Given Period</h2>
      <div class="row text-center">
        </div>
        </div>
        </div>

<%-include('includes/footer')%>