<%-include('includes/header')%>

<div class="text-center">

    <h1 class="text-danger">Home Page:</h1>
    <br>

    <h4>
        design shop here, add thumbnails with prices and images....
        <br>
        make it clickable which takes you to the product Page <br> <a class="font-weight-bold text-decoration-none" href="http://about.google" target="blank"> <h3>Check this link for simple yet beautiful website</h3></a>
    </h4>

</div>


<%-include('includes/footer')%>
