<%-include('../includes/header')%>

<div class="row">
  <div class="col-6">
    <form method="post" action="/admin/categories">
      <label class="text-success">Enter Category to add</label>
      <div class="form-group">
        <input class="form-control" type="text" name="title" />
      </div>
      <div class="form-group">
        <input
          class="btn btn-primary"
          type="submit"
          value="Add"
        />
      </div>
    </form>
  </div>
  <div class="col-6">
    <div>
      <div
        class="table-responsive text-success"
        style="filter: blur(0px) brightness(100%)"
      >
        <table class="table table-hover">
          <thead class="text-success">
            <tr>
              <th>Category ID</th>
              <th>Category Name</th>
              <th>Edit</th>
              <th>Delete</th>
              <% for(var i =0; i < data.length; i++){%>
                <tr>
                  <td><%= data[i].id %></td>
                  <td><%= data[i].name %></td>
                </tr>
              <% } %>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%-include('../includes/footer')%>
