.form-control::placeholder {
  color: white;
}

input.form-control {
  background-color: #5a5c68;
  border-width: 0px;
}

input.form-control.form-control-user {
  color: white;
}

input.form-control.form-control-user:focus {
  background-color: #5a5c68;
  border-width: 0px;
}

.login-card {
  
  margin-top: 20%;
  background-color: #1a1a1a;
  background-position: fixed;
}
.login-background {
  background-image: url("../img/wp3660106.jpg");
  background-size: 100% 100%;
}
