.form-control::placeholder{
    color: white;
}

input.form-control{
    background-color: #5a5c68;
    border-width: 0px;
    /* border-image:   linear-gradient(to right, #8b407b 25%, #00709c 50%,#b02f36 50%, #014595 75%) 5; */

}

input.form-control.form-control-user{
    color: white;

}

input.form-control.form-control-user:focus{
    background-color: #5a5c68;
    border-width: 0px;
}
.login-container{
    max-width: 50%;
}

.login-card{
    margin-top: 20%;
    background-color: #1a1a1a;
    background-position: fixed;
}
.login-background{
    background-image: url('../img/wp3660106.jpg');
    background-size: 100% 100%;
}