.carousel-inner {
  max-height: 100vh;
}
.container-fluid {
  padding: 0px;
}
/* .bg-image {
  background-image: url("../img/wp3660106.jpg");
} */
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
}
body {
  padding-top: 50px;
}

.fa.fa-gamepad {
  color: purple;
  font-size: 1.5em;
}

.nav-separator{
  border: 1px solid;
  color: #D3D3D3;
}