</div>



<!--Container ends-->
</div>

</body>
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="text-center my-auto copyright">
      <span>Copyright © Game Shop By SRHA 2020</span>
    </div>
  </div>
  </footer>
  </div>
  <a class="border rounded d-inline scroll-to-top" href="#page-top"
  ><i class="fas fa-angle-up"></i
  ></a>
  </div>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script> -->
  <!-- <script src="/assets/js/script.min.js"></script> -->
  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/admin-scripts.js"></script>

</html>
